/* ==========================================================================
   Stone: CKEditor
   ========================================================================== */

.cke_editable {
  background: #fff;
  padding: 1em;
}
