:root {
  /**
   * Globals
   */
  --site-max-width: 1200px;
  --base-font: 16px Arial, Helvetica, sans-serif;

  /**
   * Breakpoints
   */
  @custom-media --sm-viewport (min-width:480px) and (max-width:900px);
  @custom-media --md-viewport (min-width:900px) and (max-width:1200px);
  @custom-media --lg-viewport (min-width:1200px);

  /**
   * Colors / Colours
   */
  --base-color: var(--color-neutral-dark);

  --color-neutral-lighter: #E8E8E8;
  --color-neutral-light: #B8B8B8;
  --color-neutral: #909090;
  --color-neutral-dark: #505050;
  --color-neutral-darker: #282828;

  --color-primary-lighter: #897BAF;
  --color-primary-light: #635192;
  --color-primary: #432F75;
  --color-primary-dark: #281657;
  --color-primary-darker: #15063A;

  --color-secondary-lighter: #CD88AF;
  --color-secondary-light: #AA5585;
  --color-secondary: #882D61;
  --color-secondary-dark: #661141;
  --color-secondary-darker: #440027;

  --color-tertiary-lighter: #6B939F;
  --color-tertiary-light: #447684;
  --color-tertiary: #265B6A;
  --color-tertiary-dark: #0F414F;
  --color-tertiary-darker: #022A35;

  --color-success: #82CA9D;
  --color-warning: #FFF79A;
  --color-error: #F7977A;

  --headings-color: var(--color-primary);

  /**
   * Grid
   */
  --Grid-gutter-size: 36px;
}
