.panels-ipe-linkbar {
  list-style: none;
  margin: 0;
  padding: 0;
}
.panels-ipe-linkbar > li {
  display: inline;
}

.panels-ipe-draghandle {
  overflow: auto;
}

#panels-ipe-control-container {
  background: #111 !important;
}

#panels-ipe-control-container .Button {
  border: 0;
  border-radius: 5px;
  color: #CCC;
  display: inline-block;
  font: bold 12px/33px "Open Sans", "Lucida Grande", Tahoma, Verdana, sans-serif;
  height: 33px;
  margin: 0 10px;
  padding: 0 0.8em 0 34px;
}

#panels-ipe-control-container .Button:active {
  outline: 0;
}
