/* ==========================================================================
   Stone: Columns
   ========================================================================== */

:root {
  --column-gap: var(--space-large);
}


/** Don't columnize for small screens */
@media (--md-viewport), (--lg-viewport) {
  .u-twoColumns,
  .u-threeColumns {
    column-gap: var(--column-gap);
  }

  .u-twoColumns { column-count: 2; }
  .u-threeColumns { column-count: 3; }
}
