/* ==========================================================================
   Stone: Space
   ========================================================================== */

:root {
  --space-normal: 1em;
  --space-large: calc(var(--space-normal) * 1.5);
  --space-small: calc(var(--space-normal) * .5);
}

/**
 * Normal size
 */
.u-space {
  margin: var(--space-normal);
}

.u-spaceHorizontal {
  margin-left: var(--space-normal);
  margin-right: var(--space-normal);
}

.u-spaceVertical {
  margin-left: var(--space-normal);
  margin-right: var(--space-normal);
}

.u-spaceTop {
  margin-top: var(--space-normal);
}

.u-spaceRight {
  margin-right: var(--space-normal);
}
.u-spaceBottom {
  margin-bottom: var(--space-normal);
}
.u-spaceLeft {
  margin-left: var(--space-normal);
}

/**
 * Large size
 */
.u-lg-space {
  margin: var(--space-large);
}

.u-lg-spaceHorizontal {
  margin-left: var(--space-large);
  margin-right: var(--space-large);
}

.u-lg-spaceVertical {
  margin-left: var(--space-large);
  margin-right: var(--space-large);
}

.u-lg-spaceTop {
  margin-top: var(--space-large);
}

.u-lg-spaceRight {
  margin-right: var(--space-large);
}
.u-lg-spaceBottom {
  margin-bottom: var(--space-large);
}
.u-lg-spaceLeft {
  margin-left: var(--space-large);
}

/**
 * Small size
 */
.u-sm-space {
  margin: var(--space-small);
}

.u-sm-spaceHorizontal {
  margin-left: var(--space-small);
  margin-right: var(--space-small);
}

.u-sm-spaceVertical {
  margin-left: var(--space-small);
  margin-right: var(--space-small);
}

.u-sm-spaceTop {
  margin-top: var(--space-small);
}

.u-sm-spaceRight {
  margin-right: var(--space-small);
}
.u-sm-spaceBottom {
  margin-bottom: var(--space-small);
}
.u-sm-spaceLeft {
  margin-left: var(--space-small);
}
