/* ==========================================================================
   Stone: Base
   ========================================================================== */

* {
  box-sizing: border-box;
}

html, body {
  line-height: 1.6;
}

* + p {
  margin-top: 1em;
}

blockquote {
  background: var(--color-neutral-lighter);
  border-left: 4px solid var(--color-primary);
  clear: both;
  line-height: 1.8;
  margin: 1em 0;
  padding: 1.5em 2em;
}

img {
  height: auto !important;
  max-width: 100%;
}
