/* ==========================================================================
   Stone: Headings
   ========================================================================== */

:root {
  --headings-font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  line-height: 1;
  margin: 1em 0;
}

.PageTitle {
  margin-top: 0;
}
