/* ==========================================================================
   Stone: Lists
   ========================================================================== */

ul, ol {
  margin: 1em 0;
  padding-left: 2em;
}

ul {
  list-style: circle;
}

ol {
  list-style: decimal;
}

li + li {
  margin-top: .5em;
}

li > ul, li > ol {
  margin-top: 0.5em;
  margin-bottom: 0;
}
