/* ==========================================================================
   Stone: Typography
   ========================================================================== */

.Standfirst {
  font-size: 1.1em;
  line-height: 1.6;
}

.Standout {
  background: var(--color-neutral);
  clear: both;
  color: #fff;
  padding: 1.5em 2em;
  line-height: 1.6;
}

.PullQuote {
  display: block;
  background: none;
  border: none;
  max-width: 30%;
  min-width: 200px;
  padding: 0 0 0 60px;
  margin: 1em 0 .5em 0;
  position: relative;
  color: var(--color-primary);
}

.PullQuote:before {
  content: open-quote;
  color: var(--color-primary);
  font-size: 8em;
  position: absolute;
  top: -10px;
  left: 0;
  line-height: 1;
}

/**
 * Chrome seems to only show a single quote (for the second) if a second pullquote on the page is present...
 * Hide the quote, display none reintroduced this behaviour
 * Note: the behaviour makes sense, I just haven't seen that before...
 */
.PullQuote:after {
  content: close-quote;
  visibility: hidden;
  height: 0;
  display: block;
}

.PullQuote.u-floatLeft {
  margin-right: 1em;
}

.PullQuote.u-floatRight {
  margin-left: 1em;
}
