/* ==========================================================================
   Stone: Ensure our theme doesn't ruin the experience of admin
   ========================================================================== */

.modal-content .FormItem--select.FormItem--categories {
  margin-bottom: var(--space-normal);
}

.modal-content .FormItem--select.FormItem--categories .FormItem-label {
  display: inline-block;
  margin-right: var(--space-normal);
  vertical-align: middle;
  width: auto !important;
  font-size: 1.1em !important;
  margin-bottom: 0;
}

.modal-content .FormItem--select.FormItem--categories > select {
  display: inline-block;
  vertical-align: middle;
  width: auto;
}

.panels-layouts-checkboxes .dependent-options {
  padding-left: 0 !important;
}

.panels-layouts-checkboxes .panels-layouts-category {
  color: var(--headings-color);
  font-family: var(--headings-font-family);
  font-size: 1.5em;
  font-weight: normal;
  line-height: 1;
  margin: 1em 0;
}

#panels-change-layout .layout-icon,
.panels-layouts-checkboxes .layout-link {
  border: 1px solid var(--color-neutral);
  padding: var(--space-small) !important;
  position: relative;
}

#panels-change-layout .layout-icon > div,
.panels-layouts-checkboxes .layout-link > div {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

#panels-change-layout .layout-icon > div,
.panels-layouts-checkboxes .layout-link > div > a {
  background: var(--color-neutral);
  display: block;
  padding: var(--space-small);
  color: #fff;
}

.panels-layouts-checkboxes .layout-link:hover,
.panels-layouts-checkboxes .layout-link.current-layout {
  border: 1px solid var(--color-success);
}

.panels-layouts-checkboxes .layout-link:hover > div > a,
.panels-layouts-checkboxes .layout-link.current-layout > div > a {
  background: var(--color-success);
}

#modal-content #edit-cancel,
#panels-change-layout #edit-back {
  margin-right: var(--space-normal);
  background: var(--color-error);
  font-size: 1.5em;
  color: #fff;
}

#modal-content #edit-cancel:hover,
#panels-change-layout #edit-back:hover {
  background: color(var(--color-error) b(20%));
}

#modal-content #edit-return,
#panels-change-layout #edit-submit {
  margin-right: var(--space-normal);
  background: var(--color-success);
  font-size: 1.5em;
  color: #fff;
}

#modal-content #edit-return:hover,
#panels-change-layout #edit-submit:hover {
  background: color(var(--color-success) b(20%));
}
