/* ==========================================================================
   Stone: AlertBox
   ========================================================================== */

.AlertBox {
  background: var(--color-neutral-lighter);
  color: #fff;
  margin-bottom: 1em;
  padding: 1em;
  position: relative;
}

.AlertBox.is-status {
  background: var(--color-success);
  border: 1px solid color(var(--color-success) b(25%));
}

.AlertBox.is-status .AlertBox-close {
  color: color(var(--color-success) b(50%));
}

.AlertBox.is-warning {
  background: var(--color-warning);
  border: 1px solid color(var(--color-warning) b(25%));
  color: var(--color-neutral);
}

.AlertBox.is-warning .AlertBox-close {
  color: color(var(--color-warning) b(50%));
}

.AlertBox.is-error {
  background: var(--color-error);
  border: 1px solid color(var(--color-error) b(25%));
}

.AlertBox.is-error .AlertBox-close {
  color: color(var(--color-error) b(50%));
}

.AlertBox-title {
  color: #fff;
  line-height: 1;
  margin-bottom: 0;
}

.AlertBox.is-warning .AlertBox-title {
  color: var(--color-neutral);
}

.AlertBox-content {
  display: block;
  font-size: .9em;
  margin-bottom: 0;
}

ul.AlertBox-content {
  padding-left: 0;
  list-style: none;
}

.AlertBox-close {
  font-size: 1em;
  line-height: 1;
  opacity: .5;
  position: absolute;
  right: 1em;
  top: 1em;
}

.AlertBox-close:hover {
  opacity: 1;
  text-decoration: none;
}
