/* ==========================================================================
   Stone: Box
   ========================================================================== */

.Box {}

.Box--primary,
.Box--secondary,
.Box--tertiary {
  border-width: 1px;
  border-style: solid;
  padding: 1em;
  margin: 1em 0;
}

.Box--primary {
  border-color: var(--color-primary);
}

.Box--secondary {
  border-color: var(--color-secondary);
}

.Box--secondary {
  border-color: var(--color-secondary);
}

.Box--primary {
  box-shadow: 1px 1px 1px rgba(0,0,0,.5);
  background: var(--color-primary);
  color: #fff;
}
