/* ==========================================================================
   Stone: Button
   ========================================================================== */

.Button--primary {
  color: var(--color-primary);
}

.Button--secondary {
  color: var(--color-secondary);
}

.Button--tertiary {
  color: var(--color-tertiary);
}
