/* ==========================================================================
   Stone: Container
   ========================================================================== */

.Container {
  margin-top: 0;
}

.Container--constrained {
  padding: 0 1em;
}

.Container-inner {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--site-max-width);
  padding: 1em 0;
}
