/* ==========================================================================
   Stone: Form
   ========================================================================== */

fieldset {
  padding: var(--space-large);
  margin-bottom: calc(var(--Grid-gutter-size) * .5);
  margin-top: var(--space-large);
}

legend {
  border: 1px solid var(--color-neutral-light);
  box-shadow: 0px 2px 4px rgba(0,0,0,.3);
  display: block;
  padding: var(--space-small) var(--space-normal);
}

.form-item, /* Webform module/core */
.FormItem {
  margin-bottom: var(--space-large);
}

.FormItem-label {
  margin-bottom: var(--space-normal);
  line-height: 1;
}

.FormItem-label > .is-required {
  color: var(--color-error);
}

@media (--md-viewport), (--lg-viewport) {
  .webform-container-inline > *,
  .FormItem--inline > * {
    display: inline-block !important;
    vertical-align: middle !important;
  }

  .webform-container-inline .webform-container-inline {
    padding-left: 0;
  }

  .webform-container-inline > .FormItem-label,
  .FormItem--inline > .FormItem-label {
    margin-bottom: 0;
  }

  .webform-container-inline,
  .FormItem--inline {
    padding-left: 200px;
  }

  .webform-container-inline > .FormItem-label,
  .FormItem--inline > .FormItem-label {
    margin-left: -200px;
    width: calc(190px);
    margin-right: 0;
  }

  .webform-container-inline.webform-datepicker .form-item,
  .webform-container-inline.webform-datepicker .FormItem {
    margin-bottom: 0;
    margin-right: var(--space-normal);
  }
}
