/* ==========================================================================
   Stone: Nav
   ========================================================================== */

.Nav {
  margin-bottom: 1em;
  margin-top: 0;
  padding: 0;
}

.Nav-item {
  list-style: none;
}

.Nav-item > a {
  display: block;
}

/* Inline */
.Nav--inline .Nav-item {
  display: inline-block;
  margin-right: 1em;

  /* IE7 display inline-block fix */
  *display: inline;
  zoom: 1;
}

.Nav--inline .Nav-item:last-child {
  margin-right: 0;
}

.Nav--tabs .Nav-item,
.Nav--pills .Nav-item {
  display: inline-block;
}

.Nav--tabs .Nav-item > a,
.Nav--pills .Nav-item > a {
  padding: .5em 1em;
}

/* Tabs */
.Nav--tabs {
  border-bottom: 1px solid var(--color-neutral-light);
}

.Nav--tabs .Nav-item > a {
  border-color: transparent;
  border-style: solid;
  border-width: 1px 1px 0 1px;
  margin-bottom: -1px;
}

.Nav--tabs .Nav-item.is-active > a,
.Nav--tabs .Nav-item.is-active > a:hover {
  background-color: #fff;
  border-bottom-color: transparent;
  border-color: var(--color-neutral-light);
}

/* Pills */
.Nav--pills.Nav-item.is-active > a,
.Nav--pills.Nav-item.is-active > a:hover {
  background-color: var(--color-primary);
  color: #ffffff;
}
