/* ==========================================================================
   Stone: OffCanvas
   ========================================================================== */
:root {
  --offcanvas-offset-top: 0;
  --offcanvas-transition-speed: .2s;
}

[data-offcanvas-fixed] {
  transition: var(--offcanvas-transition-speed) all;
}

.OffCanvas {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: var(--offcanvas-offset-top);
}

.OffCanvas.is-open .OffCanvas-overlay {
  display: block;
}

.OffCanvas-page {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: var(--offcanvas-transition-speed) all;
}

.OffCanvas-panel {
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  transition: var(--offcanvas-transition-speed) all;
  z-index: 20;
}

.OffCanvas-overlay {
  background: rgba(0,0,0,.3);
  bottom: 0;
  cursor: pointer;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 10;
}

@media (--md-viewport), (--lg-viewport) {
  .OffCanvas-handle {
    display: none;
  }
}

/**
 * Misc
 */
.admin-menu .OffCanvas {
  top: 29px;
  bottom: 60px;
}
