/**
 * Offset: breakpoint 1 (small)
 *
 * Specify the proportional pull on a relativily positioned element.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 section
 */

@media (--sm-viewport) {

  .u-sm-pullNone {
    left: -0 !important;
  }

  .u-sm-pull1of12 {
    left: -calc(100% * 1 / 12) !important;
  }

  .u-sm-pull1of10 {
    left: -10% !important;
  }

  .u-sm-pull1of8 {
    left: -12.5% !important;
  }

  .u-sm-pull1of6,
  .u-sm-pull2of12 {
    left: -calc(100% * 1 / 6) !important;
  }

  .u-sm-pull1of5,
  .u-sm-pull2of10 {
    left: -20% !important;
  }

  .u-sm-pull1of4,
  .u-sm-pull2of8,
  .u-sm-pull3of12 {
    left: -25% !important;
  }

  .u-sm-pull3of10 {
    left: -30% !important;
  }

  .u-sm-pull1of3,
  .u-sm-pull2of6,
  .u-sm-pull4of12 {
    left: -calc(100% * 1 / 3) !important;
  }

  .u-sm-pull3of8 {
    left: -37.5% !important;
  }

  .u-sm-pull2of5,
  .u-sm-pull4of10 {
    left: -40% !important;
  }

  .u-sm-pull5of12 {
    left: -calc(100% * 5 / 12) !important;
  }

  .u-sm-pull1of2,
  .u-sm-pull2of4,
  .u-sm-pull3of6,
  .u-sm-pull4of8,
  .u-sm-pull5of10,
  .u-sm-pull6of12 {
    left: -50% !important;
  }

  .u-sm-pull7of12 {
    left: -calc(100% * 7 / 12) !important;
  }

  .u-sm-pull3of5,
  .u-sm-pull6of10 {
    left: -60% !important;
  }

  .u-sm-pull5of8 {
    left: -62.5% !important;
  }

  .u-sm-pull2of3,
  .u-sm-pull4of6,
  .u-sm-pull8of12 {
    left: -calc(100% * 2 / 3) !important;
  }

  .u-sm-pull7of10 {
    left: -70% !important;
  }

  .u-sm-pull3of4,
  .u-sm-pull6of8,
  .u-sm-pull9of12 {
    left: -75% !important;
  }

  .u-sm-pull4of5,
  .u-sm-pull8of10 {
    left: -80% !important;
  }

  .u-sm-pull5of6,
  .u-sm-pull10of12 {
    left: -calc(100% * 5 / 6) !important;
  }

  .u-sm-pull7of8 {
    left: -87.5% !important;
  }

  .u-sm-pull9of10 {
    left: -90% !important;
  }

  .u-sm-pull11of12 {
    left: -calc(100% * 11 / 12) !important;
  }

}
