/**
 * Offset: breakpoint 3 (large)
 *
 * Specify the proportional pull on a relativily positioned element.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 section
 */

@media (--lg-viewport) {

  .u-lg-pullNone {
    left: -0 !important;
  }

  .u-lg-pull1of12 {
    left: -calc(100% * 1 / 12) !important;
  }

  .u-lg-pull1of10 {
    left: -10% !important;
  }

  .u-lg-pull1of8 {
    left: -12.5% !important;
  }

  .u-lg-pull1of6,
  .u-lg-pull2of12 {
    left: -calc(100% * 1 / 6) !important;
  }

  .u-lg-pull1of5,
  .u-lg-pull2of10 {
    left: -20% !important;
  }

  .u-lg-pull1of4,
  .u-lg-pull2of8,
  .u-lg-pull3of12 {
    left: -25% !important;
  }

  .u-lg-pull3of10 {
    left: -30% !important;
  }

  .u-lg-pull1of3,
  .u-lg-pull2of6,
  .u-lg-pull4of12 {
    left: -calc(100% * 1 / 3) !important;
  }

  .u-lg-pull3of8 {
    left: -37.5% !important;
  }

  .u-lg-pull2of5,
  .u-lg-pull4of10 {
    left: -40% !important;
  }

  .u-lg-pull5of12 {
    left: -calc(100% * 5 / 12) !important;
  }

  .u-lg-pull1of2,
  .u-lg-pull2of4,
  .u-lg-pull3of6,
  .u-lg-pull4of8,
  .u-lg-pull5of10,
  .u-lg-pull6of12 {
    left: -50% !important;
  }

  .u-lg-pull7of12 {
    left: -calc(100% * 7 / 12) !important;
  }

  .u-lg-pull3of5,
  .u-lg-pull6of10 {
    left: -60% !important;
  }

  .u-lg-pull5of8 {
    left: -62.5% !important;
  }

  .u-lg-pull2of3,
  .u-lg-pull4of6,
  .u-lg-pull8of12 {
    left: -calc(100% * 2 / 3) !important;
  }

  .u-lg-pull7of10 {
    left: -70% !important;
  }

  .u-lg-pull3of4,
  .u-lg-pull6of8,
  .u-lg-pull9of12 {
    left: -75% !important;
  }

  .u-lg-pull4of5,
  .u-lg-pull8of10 {
    left: -80% !important;
  }

  .u-lg-pull5of6,
  .u-lg-pull10of12 {
    left: -calc(100% * 5 / 6) !important;
  }

  .u-lg-pull7of8 {
    left: -87.5% !important;
  }

  .u-lg-pull9of10 {
    left: -90% !important;
  }

  .u-lg-pull11of12 {
    left: -calc(100% * 11 / 12) !important;
  }

}
