/**
 * Specify the proportional pull on a relativily positioned element.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 section
 */

.u-pull1of12 {
  left: -calc(100% * 1 / 12) !important;
}

.u-pull1of10 {
  left: -10% !important;
}

.u-pull1of8 {
  left: -12.5% !important;
}

.u-pull1of6,
.u-pull2of12 {
  left: -calc(100% * 1 / 6) !important;
}

.u-pull1of5,
.u-pull2of10 {
  left: -20% !important;
}

.u-pull1of4,
.u-pull2of8,
.u-pull3of12 {
  left: -25% !important;
}

.u-pull3of10 {
  left: -30% !important;
}

.u-pull1of3,
.u-pull2of6,
.u-pull4of12 {
  left: -calc(100% * 1 / 3) !important;
}

.u-pull3of8 {
  left: -37.5% !important;
}

.u-pull2of5,
.u-pull4of10 {
  left: -40% !important;
}

.u-pull5of12 {
  left: -calc(100% * 5 / 12) !important;
}

.u-pull1of2,
.u-pull2of4,
.u-pull3of6,
.u-pull4of8,
.u-pull5of10,
.u-pull6of12 {
  left: -50% !important;
}

.u-pull7of12 {
  left: -calc(100% * 7 / 12) !important;
}

.u-pull3of5,
.u-pull6of10 {
  left: -60% !important;
}

.u-pull5of8 {
  left: -62.5% !important;
}

.u-pull2of3,
.u-pull4of6,
.u-pull8of12 {
  left: -calc(100% * 2 / 3) !important;
}

.u-pull7of10 {
  left: -70% !important;
}

.u-pull3of4,
.u-pull6of8,
.u-pull9of12 {
  left: -75% !important;
}

.u-pull4of5,
.u-pull8of10 {
  left: -80% !important;
}

.u-pull5of6,
.u-pull10of12 {
  left: -calc(100% * 5 / 6) !important;
}

.u-pull7of8 {
  left: -87.5% !important;
}

.u-pull9of10 {
  left: -90% !important;
}

.u-pull11of12 {
  left: -calc(100% * 11 / 12) !important;
}
