/**
 * Offset: breakpoint 2 (medium)
 *
 * Specify the proportional push on a relativily positioned element.
 * Intentional redundancy build into each set of unit classes.
 * Supports: 2, 3, 4, 5, 6, 8, 10, 12 section
 */

@media (--md-viewport) {

  .u-md-pushNone {
    left: 0 !important;
  }

  .u-md-push1of12 {
    left: calc(100% * 1 / 12) !important;
  }

  .u-md-push1of10 {
    left: 10% !important;
  }

  .u-md-push1of8 {
    left: 12.5% !important;
  }

  .u-md-push1of6,
  .u-md-push2of12 {
    left: calc(100% * 1 / 6) !important;
  }

  .u-md-push1of5,
  .u-md-push2of10 {
    left: 20% !important;
  }

  .u-md-push1of4,
  .u-md-push2of8,
  .u-md-push3of12 {
    left: 25% !important;
  }

  .u-md-push3of10 {
    left: 30% !important;
  }

  .u-md-push1of3,
  .u-md-push2of6,
  .u-md-push4of12 {
    left: calc(100% * 1 / 3) !important;
  }

  .u-md-push3of8 {
    left: 37.5% !important;
  }

  .u-md-push2of5,
  .u-md-push4of10 {
    left: 40% !important;
  }

  .u-md-push5of12 {
    left: calc(100% * 5 / 12) !important;
  }

  .u-md-push1of2,
  .u-md-push2of4,
  .u-md-push3of6,
  .u-md-push4of8,
  .u-md-push5of10,
  .u-md-push6of12 {
    left: 50% !important;
  }

  .u-md-push7of12 {
    left: calc(100% * 7 / 12) !important;
  }

  .u-md-push3of5,
  .u-md-push6of10 {
    left: 60% !important;
  }

  .u-md-push5of8 {
    left: 62.5% !important;
  }

  .u-md-push2of3,
  .u-md-push4of6,
  .u-md-push8of12 {
    left: calc(100% * 2 / 3) !important;
  }

  .u-md-push7of10 {
    left: 70% !important;
  }

  .u-md-push3of4,
  .u-md-push6of8,
  .u-md-push9of12 {
    left: 75% !important;
  }

  .u-md-push4of5,
  .u-md-push8of10 {
    left: 80% !important;
  }

  .u-md-push5of6,
  .u-md-push10of12 {
    left: calc(100% * 5 / 6) !important;
  }

  .u-md-push7of8 {
    left: 87.5% !important;
  }

  .u-md-push9of10 {
    left: 90% !important;
  }

  .u-md-push11of12 {
    left: calc(100% * 11 / 12) !important;
  }

}
